<footer>
	    <div class="row">
	        <div class="col-md-4 col-sm-6 footer-navigation">
	            <%= image_tag("logocremita.png", alt: "LOGO", width: '150', :class=>"logofooter")%>
	            <p class="links text-center"><a href="index.html">Inicio</a>
	                <strong> · </strong><a href="faqs.html">FAQs</a>
	                <strong> · </strong><a href="#">Contacto</a>
	                <strong> · </strong><a onclick="document.getElementById('modalInicioSesion').style.display='block'">Iniciar Sesión</a></p>
	            <p class="company-name text-center">busCar Canarias © 2017 </p>
	        </div>
	        <div class="col-md-4 footer-contacts contactos" >
	            <div class="text-justify"><span class="fa fa-map-marker footer-contacts-icon"> </span>
	                <p><span class="new-line-span">21, Av. José Mesa y López</span> Las Palmas de Gran Canaria, España</p>
	            </div>
	            <div class="text-justify"><i class="fa fa-phone footer-contacts-icon"></i>
	                <p class="footer-center-info text-left"> +34 928 70 97 59</p>
	            </div>
	            <div class="text-justify"><i class="fa fa-envelope footer-contacts-icon"></i>
	                <p><a href="#" target="_blank"></a>buscarcanarias@gmail.com</p>
	            </div>
	        </div>
	        <div class="clearfix visible-sm-block"></div>
	        <div class="col-md-3 footer-about">
	            <div class="social-links social-icons">
	                <div class="row">
	                    <div class="col-md-2 col-md-offset-5">
	                        <a href="#"><i class="fa fa-facebook"></i></a>
	                    </div>
	                    <div class="col-md-2">
	                        <a href="#"><i class="fa fa-twitter"></i></a>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="col-md-2 col-md-offset-5">
	                        <a href="#"><i class="fa fa-linkedin"></i></a>
	                    </div>
	                    <div class="col-md-2">
	                        <a href="#"><i class="fa fa-instagram"></i></a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</footer>